.navbar {
    background-color: beige;
}

.navbar{ background:#F97300;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.navbar-collapse{
    justify-content: flex-end;
   }



/*def add this */
/* .container {
    background: linear-gradient(
      to right, 
      #ff9e2c 0%, 
      #ff9e2c 50%, 
      #b6701e 50%, 
      #b6701e 100%
    );
  } */


  